* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}
img{
    border-radius: 50%;
    background-position: center;
    background: fixed;
    background-size: cover;
    transition: transform 0.3s;
}
img:hover{
    transform: scale(0.96);
    box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.box{
    width: 400px;
    height: 500px;
    background-color: rgb(72, 61, 139);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 25px rgba(0, 0, 0, 0.2);
}
.upper{
    width: 100%;
}
.lower{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}
.title{
    /* padding: ; */
    border-radius: 10px;
    box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.2);
    padding: 8px;
    text-align: center;
    background-color: aliceblue;
}
.data{
    text-transform: capitalize;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}

p{
    font-size: 20px;
    word-spacing: 1px;
    text-align: justify;
}
/* p:hover{
    box-shadow: 0px 7px 0px 0px rgba(179, 49, 49, 1);
} */
.datas{
    text-align: center;

}
.datas:hover{
    box-shadow: 0px 7px 0px 0px rgba(74, 14, 88,2);
    transition:0.3s;
}
.datas h3{
    margin-bottom: 5px;
}
button{
    border: 0;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    margin: 10px 10px 10px 10px;
    font-weight: 600;
    transition: transform 0.3s;
    cursor: pointer;
}
button:hover{
    background-color: rgb(72, 61, 139);
    transform: scale(0.95);
    /* width: 80%; */
    box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.2);
}